<footer class="my-5 pt-5 text-muted text-center text-small">
	<p class="mb-1">© 2021 William Tuominiemi</p>
	<ul class="list-inline">
		<li class="list-inline-item">
			<a href="https://github.com/WilliamTuominiemi"
				>Github</a
			>
		</li>
	</ul>
</footer>
