<div
	class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
>
	<!-- Logo -->
	<h5 class="my-0 mr-md-auto font-weight-normal">NRG-NFT</h5>
	<!-- Links -->
	
	<!-- Sign in button -->
	<% if(user === "undefined") { %>
		<a class="btn btn-outline-dark" href="/auth/google">Sign in</a>
	<% } else { %>
		<nav class="my-2 my-md-0 mr-md-3">
			<a class="p-2 text-dark" href="/">Home</a>
			<a class="p-2 text-dark" href="/draw">New drawing</a>
			<a class="p-2 text-dark" href="/auth/logout">Logout</a>
			<a href="/user/<%= user.googleId %>"><img src="<%= user.image %>" height="40px" width="40px"/></a>
		</nav>
	<% } %>


</div>
