# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# PlanetSclale connection string
DATABASE_URL=""

# Next Auth
# openssl rand -base64 32
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Next Auth Google Provider
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
