<html lang="en">
    <head>
        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        />
        
        <!-- Own CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style.css" /> 
    </head>
    <body>
        <!-- Drawing "backend" -->
        <script type="text/javascript" src="/javascript/draw.js"></script>

        <div class="capture" id="canvasDiv">
            <canvas class="canvas" id="canvas" height="500px" width="500px" style="padding: 10px; border: 2px solid black;"></canvas>
        </div>

        <br />
        <div class="dashboard" id="dashboard">
            
            <!-- Sliders define the RGB of the pen, these values define the color dynamically -->
            <div class="colorPicker">
                <h3 id="colorText">Color picker █ █ █</h3> 
                <p style="color:red;">Red <input id="red_slider" type="range" min="0" max="240" value="0"></p>
                <p style="color:green;">Green <input id="green_slider" type="range" min="0" max="240" value="0"></p>
                <p style="color:blue;">Blue <input id="blue_slider" type="range" min="0" max="240" value="0"></p>
            </div>
            
            <!-- Toggle the eraser, when this is on the pen colors in white -->
            <button class="btn btn-secondary" onclick="eraser()">Toggle Eraser</button>

            <!-- Clears the canvas by reloading the page -->
            <button class="btn btn-warning" onclick="_clear()">Clear</button>
    
            <br />
            <br />
    
            <p>Thickness <input id="thickness_slider" type="range" min="1" max="100" value="10"></p>
    
            <button class="btn btn-dark" onclick="toImage()" >Save image</button> 
    
            <div id="submit_button" style="visibility: hidden;">
                <br /><p> Make sure to read the <a href="/rules" target="_blank">rules</a> before posting!</p>
    
                <form action="/drawing/new" method="POST">
                    <div class="form-group">
                        <input type="hidden" id="src" value="" name="src" required>
                        <input type="hidden" id="googleId" value="<%= user.googleId %>" name="googleId" required>
                        <input type="hidden" id="name" value="<%= user.displayName %>" name="name" required>
                        <input type="hidden" id="avatar" value="<%= user.image %>" name="avatar" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark">Post</button>
                    </div>
                </form>
            </div>  
        </div>
    </body>
</html>
