<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <main role="main" class="container">
        <div class="card-body">
            <h3 class="card-title"> Rules</h3>
             <div class="card-body">
                <p class="card-text"> If any of these rules are breached you will get a strike on your profile, if you receive 3 strikes your account will be permanently banned. </p>
                <h4>Drawing rules</h4>
                <ol>
                    <li>No NSFW allowed</li>
                    <li>No offensive content allowed</li>
                    <li>No content classified as harrasment allowed</li>
                </ol> 
                <h4>Trading rules</h4>
                <ol>
                    <li>No scamming allowed</li>
                    <li>No spamming allowed</li>
                </ol> 
            </div>
        </div>
    </main>
</body>

</html>
