<html>
    <head>

    </head>
    <body>
        <form method="post" enctype="multipart/form-data" action="/upload">
            <label for="img">Select image:</label>
            <input type="file" id="img" name="img" accept="image/*">
            <input type="submit">
        </form>

        <img id="testImg" src="test.png" />

    </body>
</html>

