.profile_avatar {
    float: left;
    padding: 5px;
}

.trade {
    border-style: solid;
    text-align: center;
    width: 300px;
    margin: 10px;
    padding: 10px;
}

.drawing {
    float: left;
    height: 260px;
    width: 200px;
    margin: 15px;
    border-style: solid;
    text-align: center;
}

.grey-out-img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

.img_i {
    border: 5px solid #555;
    height: 300px;
    width: 300px;
}

.trade_drawing {
    text-align: left;
    padding: 5px;
}

.myItems {
    border-style: solid;
    text-align: center;
    width: 25%;
    margin: 10px;
}

.theirItems {
    border-style: solid;
    text-align: center;
    width: 25%;
    margin: 10px;
}

.items {
    text-align: left;
}
