.trade {
    border-style: solid;
    text-align: center;
    width: 300px;
    margin: 10px;
    padding: 10px;
}

.drawing {
    float: left;
    height: 250px;
    width: 200px;
    margin: 15px;
    border-style: solid;
    text-align: center;
}

.trade_drawing	{
    text-align: left;
    padding: 5px;
}

.myItems {
    border-style: solid;
    text-align: center;
    width: 25%;
    margin: 10px;
}

.theirItems	{
    border-style: solid;
    text-align: center;
    width: 25%;
    margin: 10px;
}

.items {
    text-align: left;
}

